#contact {
    display: flex;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
}

.contact-info-upper-container,
.contact-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.contact-info-upper-container {
    border-radius: 2rem;
    border: rgb(163, 163, 163) 0.1rem solid;
    padding: 1.5rem 2rem;
    gap: 2rem;
    margin: 2rem auto;
    width: fit-content;
}

.email-icon {
    transform: scale(1.2);
}

.contact_p_text {
    font-weight: 400;
    font-size: 1.25rem;
}

@media screen and (max-width:800px) {

    #contact {
        display: flex;
        justify-content: center;
        height: 60vh;
        flex-direction: column;
    }

    .contact-info-upper-container {
        width: 80%;
        margin: 0 auto;
    }

    .contact_p_text {
        font-weight: 400;
        font-size: 1rem;
    }
}

@media screen and (max-width:800px) {
    .contact-info-upper-container {
        padding: 1.5rem 1.5rem;
    }
}