.detail-container {
    padding: 1.5rem;
    flex: 1;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-radius: 2rem;
    background: white;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

@media screen and (max-width:800px) {
    .detail-container {
        margin: 3rem 0;
    }
}